* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #374e59;
  color: #dddddd;
}

h1 {
  margin-top: 100px;
  text-align: center;
}
/* STYLE PAR DEFAULT*/
.dropdown {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 220px;
  border: 1px solid #666;
  background: #475154;
}

/* STYLE BUTTON BURGER SVG */
.dropdown__text {
  color: white;
  padding: 10px 16px;
  cursor: pointer;
  height: auto;
}

/* CONTAINER MENU */
.dropdown__items {
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.6s ease;
}

/* STYLE QUADN LE MENU EST OUVERT */
.dropdown.active .dropdown__items {
  height: auto;
  max-height: 290px;
  border-top: 1px solid #666;
  visibility: visible;
  opacity: 1;
  /*  HAUTEUR - DURÉE, OPACITY 3S, VISIBILITY = DISPLAY: BLOCK OR NONE */
  transition: max-height 0.7s, opacity 3s, visibility 4s ease;
}

.dropdown__item {
  cursor: pointer;
  padding: 10px 18px;
}

